PORT=<PREFERRED PORT FOR SERVER HERE>
MONGO_URL=<MONGO URL HERE>
JWT_SECRET=<JWT SECRET HERE>
EMAIL=<EMAIL HERE>
EMAIL_PSWD=<APP PASSWORD HERE>
AWS_ACCESS_KEY_ID=<ACCESS KEY ID HERE>
AWS_SECRET_ACCESS_KEY=<SECRED ACCESS KEY HERE>
AWS_S3_BUCKET_NAME=<BUCKET NAME HERE>